<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392795802259-4q2668jtomrcihccn6jpehgs4ffhf765.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392795802259-4q2668jtomrcihccn6jpehgs4ffhf765</string>
	<key>API_KEY</key>
	<string>AIzaSyDqJTfQwG-Yh_dcS09JgQrJAciiXdhePk8</string>
	<key>GCM_SENDER_ID</key>
	<string>392795802259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fixit.dev.ios</string>
	<key>PROJECT_ID</key>
	<string>fixit-dev-4d855</string>
	<key>STORAGE_BUCKET</key>
	<string>fixit-dev-4d855.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392795802259:ios:5786bd66cc918a09611b66</string>
</dict>
</plist>